<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ZenCode-XcodeExtension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SelectPreviousWordCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectPreviousWordCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>- Select Previous Word</string>
				</dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).SelectNextWordCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectNextWordCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Select Next Word</string>
        </dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).SelectLineContentsCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectLineContentsCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Select Line Contents</string>
        </dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).SmartSortCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).SmartSortCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Smart Sort</string>
        </dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).SelectWordAboveCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectWordAboveCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Select Word Above</string>
        </dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).SelectWordBelowCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectWordBelowCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Select Word Below</string>
        </dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).DuplicateLineCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).DuplicateLineCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Duplicate Line</string>
        </dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).DeleteLineCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).DeleteLineCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Delete Line</string>
        </dict>
        <dict>
          <key>XCSourceEditorCommandClassName</key>
          <string>$(PRODUCT_MODULE_NAME).MoveToEOLAndInsertLFCommand</string>
          <key>XCSourceEditorCommandIdentifier</key>
          <string>$(PRODUCT_BUNDLE_IDENTIFIER).MoveToEOLAndInsertLFCommand</string>
          <key>XCSourceEditorCommandName</key>
          <string>- Move To EOL and Insert LF</string>
        </dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 zenangst. All rights reserved.</string>
</dict>
</plist>
